body{
    
    display: flex;  
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}


.logo{
    height: 13rem;
    display: block;
    margin: auto;
}

.landing-msg{
    display: block;
    /* margin-bottom: 2rem; */
    text-align: center;
    font-size:2rem ;
    color: #f97316;
}


.name,.email,.password,.mob-no{
    display: block;  
    margin: 1rem auto;  
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
    border-color: #383838;
    border-style:hidden;
    height:2rem;
    width: 12rem;
    background-color: #e2e8f0;
 
}


.submit-btn{
    display: block;
    margin: auto;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
}

label{
    display: block;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px; 
    color: #383838; 
} 

.checkbox
{
    width: 11px;
    height: 11px;
}
.link{
    color: #383838;
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin-top: 1rem;
}