/* :root{
    --border-color:#d1d1d1;
    --table-element-color:#fb923c;
    --primary-color: #94a3b8;
    } */

/*wishlist-page*/


/* .navbar{ */
    /* position: sticky; */
    /* top: 0;
    left: 0;
    width: 100%; */
    /* z-index: 9; */
/* } */

/* .nav{
    padding: 2px 2vw;
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    align-items: center;
}

.brand-logo{
    height:23rem;
    width:23rem;
}

.brand-logo-wishlist{
    margin-left: 35rem;
    height:23rem;
    width:23rem;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--border-color);
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}


.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid var(--border-color);
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('/background-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

 */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.hero-section{
    width: 100%;
    height: 34rem;
    background-image: url('/background-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cartpage-title{
font-size: 20px;
color: var(--primary-color);

}

.wishlist-page{
    margin: 80px 20px;
}

table{
     display:flexbox;
     justify-content:center;  
    
   width:100%;
   border-collapse: collapse; 
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color:#fff;
    background: var(--table-element-color);
    font-weight: normal;   
}

td{
    padding: 10px 5px;
}

td .cart-info{
    padding: 10px 5px;
}

td input{

    width:40px;
    height: 30px;
    padding:5px
}

td a{
    color:var(--table-element-color);
    font-size: 12px;
}

td img{
width:80px;
height:80px;
margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid var(--table-element-color);
    width: 100%;
    max-width:  400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


.cart-btn{
    color: white;
    border-radius: 1rem;
    border:none;
    font-size: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: var(--table-element-color);
}
